<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body id="body-crear-producto">
    
    <%- include('../partials/header') %>

    <main id="main-crear-producto">
        <h1>Registro de nuevo usuario</h1>

        <form action="/users/register" method="POST" id="form-create-product" enctype="multipart/form-data">
            <div>
                <label for="">Nombre:</label>
                <input type="text" name="nombre_user" id="" placeholder="Ingrese su nombre" required>
            </div>
            <div>
                <label for="">Apellido:</label>
                <input type="text" name="apellido_user" id="" placeholder="Ingrese su apellido" required>
            </div>

            <div>
                <label for="">Email:</label>
                <input type="email" name="email_user" id="" placeholder="Ingrese su dirección de correo electrónico" required>
            </div>

            <div>
                <label for="">Password:</label>
                <input type="password" name="password_user" id="" placeholder="Ingrese una contraseña" required>
            </div>        
                       
            <div id="pc-subir">
                <label for="">Subir imágen de Avatar:</label>
                <input type="file" name="image_user" id="" accept=".jpg, .jpeg, .png" multiple>
            </div>

            <!-- <div>
                <label for="">Avatar:</label>
                <input type="text" name="image" id="" placeholder="Ingresa la url de la imagen..." required>
            </div> -->

            <div>
                <label for="">Tipo:</label>
                <select name="user_type" id="" required>
                    <option value="" selected disabled>Selecciona una categoría</option>
                    <option value="user">Usuario</option>
                    <option value="admin">Administrador</option>              
                </select>
            </div>
            
            <section class="form-check2">
                <label for="terminosCondiciones">Acepto los Terminos y Condiciones</label>
                <input type="checkbox" id="terminosCondiciones" name="terminosCondiciones" required>
            </section>

            <div id="register_options">
                <div class="button-register">
                    <button type="submit" class="botonReg-log">Registrarse</button>
                    <label class="form-check">Registrarse con:</label>
                    
                    <section class="login-auto">
                        <button type="button" onclick="registerWithGoogle()" class="icono"><i class="fa-brands fa-google"></i> Google</button>
                        <button type="button" onclick="registerWithFacebook()" class="icono"><i class="fa-brands fa-facebook"></i> Facebook</button>
                    </section>
                </div>
            </div>

            <p id="logueate"><a href="/users/login">¿Ya tienes una cuenta? LOGUEATE</a></p>
            <p><a href="/users/">Volver al listado de USUARIOS</a></p>
            
        </form>
    </main>


    <%- include('../partials/footer') %>

    <%- include('../partials/wsp') %>
</body>
</html>